

/* Buttons styles */

.custom-btn{
  background: #000000;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 18px 40px 12px 40px;
  font-family: 'cooper hewitt';
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.custom-btn:hover{
  background: #0E8C0D;
  border: 1px solid #ffffff00;
}

.hover-btn-filmcoin:hover{
  background: #12D466;
  border: 1px solid #ffffff00;
}
.style-border{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f10505;
}
.style-border-white{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .custom-btn{
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {

} 

@media only screen and (min-width: 1280px) {

  .custom-btn{
    font-size: 20px;
  }
}













