

/* Buttons styles */

.custom-btn{
  background: #000000;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 18px 40px 12px 40px;
  font-family: 'cooper hewitt';
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.custom-btn:hover{
  background: #0E8C0D;
  border: 1px solid #ffffff00;
}

.hover-btn-filmcoin:hover{
  background: #12D466;
  border: 1px solid #ffffff00;
}
.style-border{
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(241, 5, 5, 1);
}
.style-border-white{
  font-weight: bolder;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.style-border-white-1{
  font-weight: bolder;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.style-border-gold{
  background: -webkit-linear-gradient(90deg, #DA9413 -15.82%, #FEF1B2 46.06%, #753B03 115.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(107, 113, 70, 0);
}
.bg-pos-x-50{
  background-position-x: 10px !important;
}


@media only screen and (min-width: 768px) {
  .custom-btn{
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-pos-x-50{
    background-position-x: 25px !important;
  }
} 

@media only screen and (min-width: 1280px) {

  .custom-btn{
    font-size: 20px;
  }
}













