

/* Buttons styles */

.custom-btn{
  background: #000000;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 18px 40px 12px 40px;
  font-family: 'cooper hewitt';
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}

.custom-btn:hover{
  background: #F10505;
  border: 1px solid #ffffff00;
}
@media only screen and (min-width: 768px) {
  .custom-btn{
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {

} 

@media only screen and (min-width: 1280px) {

  .custom-btn{
    font-size: 20px;
  }
}













