html {
  box-sizing: border-box;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: 0;
  outline: 0;
}
body {
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  /* overflow-x: hidden; */

  overscroll-behavior: none; /* //evita que nuestra app haga rebotes cuando usamos scroll */
}

/************ Fonts **************/
h1,h2,h3{
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 713;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
h1{
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.15em;
}
h1 span{
  color: #F10505;
}

h2{
  font-size: 25px;
  line-height: 113%;
  
}
h2 span{
  color: #F10505;
}

h3{
  font-size: 13px;
  line-height: 17px;
 
}
h3 span{
  color: #F10505;
}
p{
  font-family: 'steinbeckregular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: justify;
  color: #FFFFFF;
}
p span{
  color: #F10505;
}


@media only screen and (min-width: 768px) {
  h1{
    font-size: 45px;
    line-height: 58px;
  }
  h2{
    font-size: 45px;
  }
  h3{
    font-size: 15px;
    line-height: 19px;
  }
} 


@media only screen and (min-width: 1024px) {
  h1{
    font-size: 50px;
    line-height: 65px;
  }
  h2{
    font-size: 50px;
  }
} 

@media only screen and (min-width: 1280px) {
  h1{
    font-size: 65px;
    line-height: 84px;
  }
  h2{
    font-size: 65px;
  }
  h3{
    font-size: 20px;
    line-height: 26px;
  }
  p{
    font-size: 14px;
  }
  
}